%section#past-events
  - @events.each do |event|
    %section#video
      .containerVideo
        .row
          %h2= event.date ? "Past Meeting from #{event.date.strftime("%-m/%-d/%Y")}" : "Past Meeting"
          %p= event.topic
          .videos
            - event.videos.each do |video|
              .video
                %iframe{:src => video.url, :width => "100%"}
    .event
      .speakers
        - event.speakers.each do |speaker|
          .speaker
            .speaker-headshot
              = image_tag(gravatar_url(speaker.email))
            .speaker-text
              %h3.speaker-name= speaker.name
              .speaker-bio
                %p= speaker.bio


