<section class="past-event u-push__top--lg">
  <%- @past_events.each do |event| %>
    <article class=>
      <%- event.videos.each do |video| %>
        <div class="past-event__video">
          <iframe src="<%= video.url %>" width="100%"></iframe>
        </div>
      <%- end %>
      <div class="past-event__date">
        <p><%= event.date ? event.date.strftime("%-m/%-d/%Y") : "" %></p>
      </div>
      <h3 class="past-event__topic"><%= event.topic %></h3>
      <p class="past-event__description"><%= event.description ? event.description : "" %></p>
      <div class='past-event__speakers'>
      <%- event.speakers.each do |speaker| %>
        <div class='speaker'>
          <div class='speaker__headshot'>
            <% if speaker.name == "Jim Weirich" %>
              <a href="https://en.wikipedia.org/wiki/Jim_Weirich">
                <%= image_tag(gravatar_url(speaker.email)) %>
              </a>
            <% else %>
              <%= image_tag(gravatar_url(speaker.email)) %>
            <% end %>
          </div>
          <h4 class='speaker__name'><%= speaker.name %></h4>
          <!-- <p class="speaker__bio"><%= speaker.bio %></p> -->
        </div>
      <%- end %>
    </article>
  <%- end %>
</section>
