<section class="past-event u-push__top--lg">
  <article class=>
    <div><%= link_to 'Past Events', past_events_path %></div>
    <% unless @event %>
      <div class="past-event__date">
        <p>No meeting for <%= @meeting_date %></p>
      </div>
    <% else %>
      <h3 class="past-event__topic"><%= "#{@meeting_date}: #{@event.topic}" %></h3>
      <% @event.videos.each do |video| %>
        <div class="past-event__video">
          <iframe src="<%= video.url %>" width="100%"></iframe>
        </div>
      <% end %>
      <p class="past-event__description"><%= @event.description ? @event.description : "" %></p>
      <div class='past-event__speakers'>
      <% @event.speakers.each do |speaker| %>
        <div class='speaker'>
          <div class='speaker__headshot'>
            <% if speaker.name == "Jim Weirich" %>
              <a href="https://en.wikipedia.org/wiki/Jim_Weirich">
                <%= image_tag(gravatar_url(speaker.email)) %>
              </a>
            <% else %>
              <%= image_tag(gravatar_url(speaker.email)) %>
            <% end %>
          </div>
          <h4 class='speaker__name'><%= speaker.name %></h4>
          <!-- <p class="speaker__bio"><%= speaker.bio %></p> -->
        </div>
      <% end %>
    <% end %>
  </article>
</section>
