<div>
  <p><span>Name:</span> <%= @speaker.name %></p>
</div>

<div>
  <p><span>Bio:</span> <%= @speaker.bio %></p>
</div>

<div>
  <p><span>Email:</span> <%= @speaker.email %></p>
</div>

<div>
  <p><span>Image URL:</span> <%= @speaker.image_url %></p>
</div>

<%= link_to 'Edit', edit_admin_speaker_path(@speaker) %> |
<%= link_to 'Back', admin_speakers_path %>
