%section#home
  .container.row
    .eight.columns
      %h1 Cincy.rb - Cincinnati Ruby Brigade
      = image_tag('logo.png', alt: 'Cincy.rb logo', id: 'logo')
      %p
        %strong Cincinnati Ruby Brigade
        is a group of local developers who talk about Ruby specific topics and share code.
      %a{:href => "http://goo.gl/BwcH2", :target => "_blank", :id => "rsvp"} Write code with us!
    #next.four.columns
      %section
        %article#next-meeting
          %p
            = image_tag 'spinner.gif'
            Loading...
        %article#location-info
  / end #container
%section#about
  .container.row
    .eight.columns
      %h2 About Us
      %p Cincinnati Ruby Brigade was formed by local developers who desired a place to talk about Ruby specific topics and share code. It has since grown into a thriving community as vibrant and creative as the Ruby language itself.
      %p Today we meet on the third tuesday of every month to discuss and hack on Ruby code and strive to keep to the principle of less slides more code.
      #tweet
        %a{:href => "https://twitter.com/cincinnatirb"} Follow Us
        %h4 Recent Tweet
        %p
          = image_tag 'spinner.gif'
          Loading...
    #events.four.columns
      %h3 Upcoming Events
      %section
        - Meeting.get_upcoming_meetings.each do |meeting|
          %article
            .date
              %h1
                = format_date_for_homepage(meeting["time"]).html_safe
            %p
              = meeting["name"]
            %a{:href => "http://goo.gl/BwcH2", :target => "_blank"} @ Gaslight
  / end .row
%section#contact
  .container.row
    %h2 Contact Us
    %p Have a topic idea? Want to present at a Cinci.rb meeting? Have a suggestion? Send us a comment here.
    %p.flash.flash_notice
    = form_for Contact.new, :html => { :id => "contact-form", :class => "container row" }, :url => "/contact_us", :remote => true do |f|
      %div
        #left-contact.five.columns
          = f.text_field :name, :placeholder => "Name"
          = f.text_field :email, :placeholder => "Email Address"
          = f.text_field :subject, :placeholder => "Subject"
        #left-contact.seven.columns
          = f.text_area :message, :placeholder => "Message", :rows => 5
        #submit
          %input{:type => "submit", :value => "Submit"}/
