<section class="intro u-push__top--lg">
  <p>
    <strong>We are Cincinnati Ruby Brigade.</strong>
    A group of local developers who get together to talk Ruby, share code, and meet new people.
    And outcome of the desire for a space to collaborate and grow the Ruby community in Cincinnati,
    Cincy.rb has become a thriving community that is as vibrant and creative as the Ruby language itself.
  </p>
  <p>
    We currently meet on the third Tuesday of every month to discuss and mob-program on Ruby code.
    Less slides, more code!
  </p>
  <p><%= link_to "Here's", this_month_in_ruby_path %> what's new in Ruby this month.</p>
</section>
<section class="u-push__top">
  <div class="u-flex event-header">
    <i class="material-icons u-icon">events</i>
    <h3>Upcoming Meetups</h3>
  </div>
  <div class="events">
    <%= render 'next_meeting' %>
    <%- @upcoming_meetings.each do |meeting| %>
      <article class="event">
        <div class="event__date">
          <%= Time.at(meeting['time']/1000).in_time_zone('America/New_York').strftime('%b %-d') %>
        </div>
        <div class="event__time">
          <%= Time.at(meeting['time']/1000).in_time_zone('America/New_York').strftime('%l:%M %P') %>
        </div>
      </article>
    <%- end %>
    <article class="event">
      <%= link_to("View Past Events", past_events_path) %>
    </article>
  </div>
</section>
<section class="offset-col u-pad__top--xl">
  <article class="offset-col__left">
    <h2>Stay in the loop</h2>
    <p>Follow along and join the conversation to get plugged-in and stay connected!</p>
    <div class="u-push__bottom">
      <%= link_to("Twitter", 'https://twitter.com/cincinnatirb', target: "_blank", class: "button")%>
      <%= link_to("Discord", 'https://discord.gg/dBjVX9mNB4', target: "_blank", class: "button") %>
    </div>

    <a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/cincinnatirb?ref_src=twsrc%5Etfw">Tweets by cincinnatirb</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </article>
  <article class="offset-col__right">
    <h2>Contact Us</h2>
    <p>Have a topic idea? Want to present at a Cincy.rb meeting? Have a suggestion? Send us a comment here.</p>
    <p class='flash flash_notice'></p>
    <%= form_for Contact.new, url: "/contact_us", :remote => true do |f| %>
      <div class="new_contact">
        <%= f.text_field :name, :placeholder => "Name" %>
        <%= f.text_field :email, :placeholder => "EmailAddress" %>
        <%= f.text_field :subject, :placeholder => "Subject" %>
        <%= f.text_area :message, :placeholder => "Message", :rows => 5, :class => "message" %>
        <input class="button u-push__top--sm" type="submit" value="Submit">
      </div>
    <% end %>
  </article>
</section>
