!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    = favicon_link_tag 'favicon.ico'
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Cincinnati Ruby Brigade
    / Google Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:400,400italic,600italic,700italic", :rel => "stylesheet", :type => "text/css"}
    / Included CSS Files
    = stylesheet_link_tag 'application.css'
    /[if lt IE 9]
      = stylesheet_link_tag 'ie.css'
    = javascript_include_tag 'modernizr.foundation.js'
    / IE Fix for HTML5 Tags
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header
      .row
        %nav
          %ul
            %li.home
              =link_to("Home", root_path)
            %li
              %a.scroll{:href => "#about"} About
            %li
              %a.scroll{:href => "#about"} Events
            %li
              %a.scroll{:href => "#contact"} Contact
            %li
              %a.scroll{:href => "#sponsors"} Sponsors
            %li
              =link_to("Past Events", past_events_path)  
        %ul#social
          %li.twitter
            %a{:href => "https://twitter.com/#!/cincinnatirb", :target => "_blank"} Follow us on Twitter!
          %li.facebook
            %a{:href => "http://www.facebook.com/events/162252363797871/", :target => "_blank"} Be Our Friend on Facebook!
          %li share

    = yield

    %section#sponsors
      .container.row
        %h2 Sponsors
        %a.become-a-sponsor{:href => "mailto:info@gaslightsoftware.com"} + become a sponsor
        .sponsors.container.row
          %article#edgecase.four.columns
            %a.logo{:href => "http://www.edgecase.com", :target => "_blank"} EdgeCase
            %p We are a team of talented software artisans who love solving problems. Our dedicated group of developers and artists have individual expertise in areas such as usability, security, enterprise application integration, and business analysis. Passionate about software development, we are driven by the challenge of what we do.
            %a{:href => "http://www.edgecase.com", :target => "_blank"} www.edgecase.com
          %article#engine-yard.four.columns
            %a.logo{:href => "http://www.engineyard.com", :target => "_blank"} Engine Yard
            %p Engine Yard is the leading Platform as a Service (PaaS), empowering software application innovation more rapidly, easily and cost effectively.
            %a{:href => "http://www.engineyard.com", :target => "_blank"} www.engineyard.com
          %article#gaslight.four.columns
            %a.logo{:href => "http://www.gaslightsoftware.com", :target => "_blank"} Gaslight Software
            %p We are leading agile practitioners delivering value-driven software. We've honed our craft through practical application. We've grown with the industry. We have a history of multiple languages, environments and a mastery of the best technologies.
            %a{:href => "http://www.gaslightsoftware.com", :target => "_blank"} www.gaslightsoftware.com
    %footer
      .container.row
        %h5
          Designed and built by
          %a{:href => "http://www.gaslightsoftware.com", :target => "_blank"} Gaslight Software
          in 2012
        %a#top.scroll{:href => "#home"} Take me to the top!
    / Included JS Files
    = javascript_include_tag 'vendor.js'
    = javascript_include_tag 'application.js'
  %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCA9cUwB8Tzb_hRPdxpUZuH3rF1V6DCvr4&sensor=false&libraries=places"}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25957234-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
